{% extends 'base.html' %}

{% block body %}
{% if user.is_authenticated %}
<br>

    <form class="form-group" method="post">
        {% csrf_token %}
        {{ form }}

            <br>
            <h6>Are you sure you want to delete <i><b>{{ object }}</b></i>?</h6>
            <br>
            <ul>
                <a href="{% url 'my-recipes' %}" class="btn btn-outline-info"> NO </a>
                <button class="btn btn-outline-info text-danger"> YES </button> 
            </ul>
    </form>
    
{% endif %}
{% endblock %}