{% extends 'base.html' %}


{% block body %}
{% if user.is_authenticated %}

<p> <i> ordering: <b> Last Added </b> </i></p>
<br>
{% for recipe in recipe_list %}
    {% if request.user == recipe.user %}
    {% if recipe.recipe_image %}
        <img src="{{ recipe.recipe_image.url }}" class="center">
    {% endif %}
    <br>
    <br> <b> <i> <h3> {{ recipe.recipe_name }} </h3> </i> </b> 
    <br> 
    <br>
        <ul>
            <li> 
                <i> <h5> Ingredients </h5> <br> 
                    <h6>{{ recipe.recipe_ingredients }}</h6>
                </i> 
            </li> 
        <br> 
        <br>
            <li> 
                <i> <h5> Manual </h5> <br> 
                    <h6>{{ recipe.recipe_text }}</h6>
                </i> 
            </li> 
        <br> <br>
        </ul>            
        Author: <b>{{ recipe.user }} | {{ recipe.user_email }}</b>
        <br> <br> 
        Average Rate: <b>{{ recipe.avg_rating }}</b>
        <br> <br>

        <a href="{% url 'my-recipe-update' recipe.pk %}" class="btn btn-sm btn-outline-info"> Update </a>
        <a href="{% url 'my-recipe-delete' recipe.pk %}" class="btn btn-sm btn-outline-info"> Delete </a>

        
        <hr style="border:5px solid #f1f1f1">

    {% endif %}
{% endfor %}

{% endif %}
{% endblock %}