{% extends 'base.html' %}



{% block body %}
    {% if user.is_authenticated %}
        <form class="form-group" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <table class="table">
                {{ form.as_table }}
            </table>
            <br>
            <br>
            <input type="submit" value="Rate" class="btn btn-sm btn-outline-info">
            <a href="{% url 'recipes' %}" class="btn btn-sm btn-outline-info"> Cancel </a>
        </form>
    {% endif %}
{% endblock %}