{% extends 'base.html' %}


{% block body %}
{% if user.is_authenticated %}

  <div class="container-fluid">
      <form class="d-flex" action="{% url 'search' %}">
        <input class="form-control me-2" type="search" placeholder="Search By Name, Ingredients or Text" aria-label="Search" name="search">
        <button class="btn btn-outline-info" type="submit">Search</button>
      </form>
    </div>
  
  <br><p><i> ordering: <b> A-Z </b> </i></p>

  {% for recipe in recipe_list %}
<br>

    {% if recipe.recipe_image %}
        <img src="{{ recipe.recipe_image.url }}" class="center">
    {% endif %}

  <br>
  <b> <i> <h3> 
    {{ recipe.recipe_name }} 
  </h3> </i> </b>
  <br> 
  <br>
      <ul>
            <li> 
              <i> <h5> Ingredients </h5>
                <br> 
                <h6> {{ recipe.recipe_ingredients }} </h6>
              </i> 
            </li> 
          <br> 
          <br>
            <li> 
              <i> <h5> Instructions </h5> <br> 
                <h6> {{ recipe.recipe_text }} </h6></i> 
            </li> 
          <br> 
          <br>
      </ul>
      <p>Author: {{ recipe.user }} | {{ recipe.user_email }} </p> 
      <br>


      {% if request.user != recipe.user %}
          <p> Average Rate: {{ recipe.avg_rating }} </p> 

              <form method="POST">
                {% csrf_token %}
                  <input id="rating" type="text" name="rating" placeholder="Rate 1-5">
                  <input type="submit" value="OK">
              </form>
          {% else %}
             <p>Average Rating: {{ recipe.avg_rating }} </p> 
      {% endif %}

      {% for rate in rating %}
         <p> {{ rate.rating }} </p>
      {% endfor %}

      <br>
      <a href="#" class="btn btn-outline text-light btn-sm">Back To Top</a>

      <hr style="border:5px solid #f1f1f1">
  {% endfor %}

{% endif %}
{% endblock %}